.card {
  border: 1px solid var(--gray-300);
  border-radius: 0.25rem;

  .cardIcon {
    color: var(--purple-500);
    background: var(--purple-200);
    border-radius: 0.3rem;
    display: flex;
    height: 100%;
    padding: 0.25rem;
  }

  .cardText {
    color: var(--gray-800);

    h2 {
      font-size: 0.875rem;
      font-weight: 300;
    }

    span {
      font-size: 1.25rem;
      & span {
        font-size: 0.875rem;
        font-weight: 300;
        margin-right: 0.25rem;
      }
    }
  }
}
